
.container-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.box-list {
  position: relative;
  width: 300px;
  text-align: center;
  background-color: white;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  /* border: 1px solid black; */
}

.container-detail {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.box-detail {
    position: relative;
  width: 500px;
  color: rgb(57, 61, 80);
  margin: 1.5em;
  padding: 1em;
  /* border: 1px solid black; */
}



@media (max-width:500px) {
  .box {
      margin: 1em;
      padding: 0.5em;
      border-radius: 1em;
  }
}

@media (max-width: 1000px){
  img {
      max-width: 380px;
      max-height: 350px;
      max-width: 100%;
  }
}